body {
        background-image: url(unnamed.png);
        margin: auto auto;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        
    }
a{
	color:red;
	text-decoration: none;
	font-weight: bold;
}
.LinksMenu{
	font-style: normal;
   		text-align: center;
}
h1 {
			max-width: 960px;
    	height: 50px;
    	text-align: left;
    background:#252525; /* Цвет фона блока */ 
}
section {
background-image: url(209.jpg);
   margin: 10px 0;
   border: ridge 6px orange;
   border-radius: 2em;
   padding: 10px;
}
@media (min-device-width: 960px) {
  section {
    border: ridge 6px orange;
    border-radius: 2em;
  }
}
table {
	text-align: center;
    max-width: 960px; /* Ширина таблицы */
    border: 5px groove #ccc; /* Рамка вокруг таблицы */
    margin:0px auto;
    border-spacing: 0px;
    table-layout: fixed;
   }
   #table{
   	order:1;
   }
  #main {
  	text-align: left;
  display: flex;
  flex-direction: column;
  width: 960px;
  list-style-position: inside;
  border-radius: 2em;
    }
    #menu{
    	display: flex;
    	flex-direction: column;
    	border-radius: 1em;
    	text-align: center;
    	max-width: 960px;
    	background-image: url(209.jpg);
 
    	list-style-position: inside;
    	border:ridge 6px orange;
    }
    @media (min-device-width: 960px) {

	#insideHeader{
		width: 960px;
		margin: auto;
	}
    	#main{
    		flex-direction: column;
    		text-align: left;
    	font-size: 115%;
		display: flex;
    	}

		#menu {
			justify-content: center;
		font-size: 115%;
		flex-direction: row;
		display: flex;
		text-align: center;
		}
		h1 {
      max-width: 960px;
    	height: 50px;
    	text-align: left;
      background:#252525; /* Цвет фона блока */ 
    }
    #logo{
        width: 70px; 
		height: 70px; 
		float: center;
  }
	#table {
    order: 0;
  }
}
   
    #logo{
        width: 70px; 
		height: 70px; 
		float: left;
	}
	#siteHeader { display: flex;
    	flex-direction: column;
	background:#252525;	
	width:980px;
		/*background-image: url(unnamed.png);*/
		text-align: left;
		color: white;
		height: 70px;
	}
	@media (min-device-width: 960px) {
		#siteHeader{
width:100%
		}
	}

	#insideHeader{
		max-width: 960px;
		margin: auto;
	}
	#footer_site { display: flex;
    	flex-direction: column;
		background-color: black;
		text-align: center;
		color: #fdfdff;
		font-size: 150%;
		width: 980px;
	}
	@media (min-device-width: 960px) {
		#footer_site { 
			width:100%;
		}
	}

   .coll{
   	width: 150px;
   }
   .coln{
   	width: 202.5px;
   }
   th {
    background: #4b0082; /* Цвет фона (#4b0082-фиолетовый)*/
    color: #fffff0; /* Цвет текста */
    border: 2px solid #ccc;
   }

   

   tr:nth-child(odd) {
		background: #ffa450;
	}

	tr:nth-child(even) {
		background: #008080;
	}
